<app-header (estaCreado)="estaElCarritoCreado = $event"></app-header>
<div class="container" style="width: 100%; margin-top: 5rem;height: 40rem;">

    <h3>LISTA DE PRODCUTOS</h3>
    <table  class="table table-striped table-hover mt-3" >
        <thead>
          <tr>
            <th>CODIGO</th>
            <th>PRODUCTO</th>
            <th>STOCK</th>
            <th>PRECIO</th>
            <th>ACCION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lista of listaDeProductos"> 
            <td>{{lista.id}}</td>
            <td>{{lista.nombre}}</td>
            <td>{{lista.stock}}</td>
            <td>$ {{lista.precio}}</td>
            <td>
                <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="agregarProductos(lista)"
                >   AGREGAR
                </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div 
        style="padding-top: 3rem;padding-bottom: 1rem;">
        <h3>CARRITO</h3>
        <div class="card carrito">
            <table  class="table table-striped table-hover mt-3" >
                <thead>
                  <tr>
                    <th>CODIGO</th>
                    <th>PRODUCTO</th>
                    <th>PRECIO</th>
                    <th>ACCION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of carrito"> 
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>${{producto.precio}}</td>
                    <td>
                        <button 
                            type="button" 
                            class="btn btn-primary"
                            (click)="eliminarProducto(producto.id)"
                            
                        >   ELLIMINAR
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
      <div style="width: 100%;padding-bottom: 3rem;">
        <button 
            type="button" 
            class="btn btn-lg btn-success"
        >   PAGAR
        </button>
      </div>
</div>
