<div class="toolbar">
    <div class="row w-100" >
        <div class="col-8">
            <a (clikc)="irHome()" style="cursor: pointer;">
                <h1 class="title">TIENDA DE MUEBLES</h1>
            </a>
        </div>
        <div class="col-4 d-flex " style="justify-content: space-between;">
            <div class="usuario">
                <a (click)="irLogin()" style="cursor: pointer;">
                    <img 
                    src="../../../assets/iconos/account_circle_black_24dp.svg" 
                    alt="icono usuario"
                >
                </a>
                <div>
                    <span>{{cliente.nombreCliente}} {{cliente.apellidoCliente}}</span>
                </div>
                <div>
                    <span>{{cliente.tipoCliente}}</span>
                </div>
            </div>
            <div class="carrito-compras">
                <div class="dropdown">
                    <a  
                        role="button" 
                        id="dropdownMenuLink" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        <img 
                        src="../../../assets/iconos/shopping_cart_black_24dp.svg" 
                        alt="icono usuario"
                        >
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                      <li><a type="button" class="btn btn-primary">CREAR CARRITO</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>
<div>
   