.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: #234579;
    color: white;
    font-weight: 600;
    width: 100%;
  }

.title {
  padding-top: 0.3rem;
  padding-left: 5rem; 
  font-size: 1.5rem;
}

.usuario {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center!important;
  font-size: 1rem;
}
.carrito-compras {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center!important;
  font-size: 1rem;
}