<div class="background-login">
    <div class="row">
        <div class="col">
            <div class="card card-login">
                <h3 class="card-title mt-3">BIENVENIDOS</h3>
                <div class="input-group input-login">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Ingresar Usuario"
                        [(ngModel)] = "cliente.nombre"
                    >
                </div>
                <div class="input-group input-login">
                    <input 
                        type="password" 
                        class="form-control" 
                        placeholder="Ingresar Password"
                        [(ngModel)] = "cliente.password"
                    >
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button 
                        class="btn btn-primary" 
                        type="submit"
                        (click)="loguearUsuario()"
                        >
                        Login
                    </button>
                  </div>
            </div>
        </div>
    </div>
</div>