.background-login{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #234579;
    z-index: -1;
}

.card-login {
    width: 25rem;
    height: 20rem;
    margin-top: 25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 2px 3px 3px gray;
}

.input-login {
    width: 20rem;
    display: flex;
}